---
layout: site
---
<div id="wrap">
  {% include header.html %}
  
  <div id="content">  
    <div id="top">
      <h1><a href="index.html">The HTML5 modeler</a></h1>
      <div id="image">
        <a href="index.html">
        <img src="images/banner.png">
        </a>
      </div>
      <div id="menu">
          <h3><a href="contact.html">Contact</a></h3>
          <h3><a href="team.html">Team</h3>
          <h3><a href="build.html">Build</a></h3>
          <h3><a href="downloads.html">Downloads</a></h3>
          <h3><a href="license.html">License</a></h3>
          <h3><a href="http://www.github.com/intalio/wapama">Source</a></h3>
      </div>
    </div>
    <div id="bottom">
      {{ content }}
    </div>
    
  </div>
 
  
  </div>
  {% include footer.html %}
 