---
layout: site
---
<div id="wrap">
  {% include header.html %}
  
  <div id="content">  
    <div id="top">
      <h1>The HTML5 modeler</h1>
      <div id="image">
        
        <img src="images/banner.png">
      </div>
      <div id="menu">
          <h3><a href="index.html">Description</a></h3>
          <h3><a href="team.html">Team</a></h3>
          <h3><a href="build.html">Build</a></h3>
          <h3><a href="downloads.html">Downloads</a></h3>
          <h3><a href="license.html">License</a></h3>
          <h3><a href="http://www.github.com/intalio/wapama">Source</a></h3>
      </div>
    </div>
    <div id="bottom">
      {{ content }}
    </div>
    
  </div>

  {% include footer.html %}
  </div>